<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">

<title>Plucka Helping Hand</title>
<style type="text/css">
<!--
.style1 {font-weight: bold}
-->
</style>
</head>

<body>
<table width="642" border="1" align="center" cellpadding="5" cellspacing="0">
  <tr>
    <td height="83" style="font-size:25px;">
	<a href="http://plucka.co/" style="color:#FFFFFF;"><img border="1" src="http://plucka.co/template/default/images/logo.png" title="Plucka"></a></td>
  </tr>
  <tr>i Username,


We have got a quotation request for relocating your house contents.

 

As per the description we suggest you a 10 tonne truck with 2 men. We are professional and FULLY INSURED MOVERS

 

Our charges are :-

3 TONNE VAN :- GOOD FOR SMALL PICK UPS AND DELIVERY

??$70/ hr with 1 man & 3 ton Van

??$85/ hr with 2 men & 3 ton Van



4.5 TONNE TRUCK :- GOOD FOR SMALL 2 BEDROOM MOVES

??$75/ hr with 1 man  & 4.5 ton truck

??$95/ hr with 2 men & 4.5 ton truck



6 TONNE TRUCK :- GOOD FOR BIG 2 BEDROOM TO 3 BEDROOM MOVES

??$85/ hr with 1 man & 6 ton truck

??$105/ hr with 2 men & 6 ton truck



8 TONNE TRUCK :- GOOD FOR BIG 3 BEDROOM TO BASIC 4 BEDROOM MOVES

??$89/ hr with 1 man & 8 ton truck

??$120/ hr with 2 men & 8 ton truck



10 TONNE TRUCK:- GOOD FOR 4 BED ROOM HOUSE WITH OUTDOOR AND GARAGE STUFF ,

??$95/ hr with 1 man & 10 ton truck

??$130/ hr with 2 men & 10 ton truck

 


12 TONNE TRUCK :- GOOD FOR BIG 4 AND MORE BED ROOM  FULL OF STUFF

??$100/ hr with 1 man & 12 ton truck

??$140/ hr with 2 men & 12 ton truck



14 TONNE TRUCK :- GOOD FOR BIG MOVES

??$110/ hr with 1 man & 14 ton truck

??$150/ hr with 2 men & 14 ton truck


Our prices and policies are very straight forward ,

 

WE START CHARGING FROM PICK UP POINT AND STOP CHARGING WHEN WE FINISH THE JOB.

We come Fully equipped with trollies , blankets , tool ,dollies etc

 

THERE WOULD BE $30 ONE TIME CHARGE TO COVER FUEL AND RETURN NO OTHER COST APART FROM WHAT'S MENTIONED IN THIS MAIL.

 

??And we work in 1/2 hr increments with 2 hour minimum.
 
Regards,

Mister-Mover

??1300559171

??0395634156

??0468333304

https://mistermover.com.au/

 

HARI OM

 

BUDGET REMOVALISTS MELBOURNE | MISTER MOVERS

www.mistermover.com.au

 

Budget Removalist Melbourne. We deal every day in House, Office, furniture and interstate Removalists I services in Melbourne and across other cities of Australia.
    <td>
	 		<p>{MAIL_DATA}
			 
              <br />
              <br />
     <p> <strong>Thanks and Regards<br />
	 &nbsp;&nbsp;Plucka </strong></p></td>
  </tr>
  <tr>
    <td height="52" align="center" style="font-size:22px;"><a href="http://plucka.co/" style="color:#000000;">Plucka</a></td>
  </tr>
</table>
</body>
</html>